{
  "hooks": {
    "pre-commit": "lint-staged",
    "pre-push": "npm version patch"
  },
  "lint-staged": {
    "**/*.{css,html,js,md,mjs,svelte,svg,ts}": [
      "prettier --write .",
      "lint:css"
    ]
  }
}
