:root {
  --bg-50: #8e9aa8;
  --bg-100: #5d6773;
  --bg-200: #3b424b;
  --bg-300: #373e47;
  --bg-400: #292f36;
  --body-bg: var(--bg-400);
  --color: #fffafb;
  --info-bg: #373e47;
  --info-contrast: #fff;
  --danger-bg: #f63e02;
  --danger-contrast: #4a190d;
  --superdanger-bg: #421000;
  --superdanger-contrast: #ff3200;
  --warning-bg: #f3b700;
  --warning-contrast: #443604;
  --info-bg: #4e8d26;
  --info-contrast: #0c2f08;
  --font-size-base: 0.2rem;

  --max-width: 76em;
  --max-width-container: 38em;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --border-radius: 6px;
  --border-radius--xl: 8px;

  --box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);

  --card-bg: var(--warning-bg);
  --card-color: var(--warning-contrast);

  --z-index--header: 10;
  --z-index--loading: 100;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

p,
ul,
ol {
  line-height: 1.25rem;
}

body {
  background-color: var(--body-bg);
  color: var(--color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
    'Helvetica Neue', sans-serif;
  position: relative;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* stylelint-disable-next-line */
#sapper {
  display: grid;
  grid-template-areas:
    'header'
    'breadcrumb'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100%;
}

a {
  color: var(--color);
}

small {
  font-size: 0.75rem;
  font-weight: 400;
}

h1 {
  font-size: calc(8 * var(--font-size-base));
}

h2 {
  font-size: calc(7 * var(--font-size-base));
}

h3 {
  font-size: calc(6 * var(--font-size-base));
}

h4 {
  font-size: calc(5 * var(--font-size-base));
}

h5 {
  font-size: calc(4 * var(--font-size-base));
}

h6 {
  font-size: calc(3 * var(--font-size-base));
}

/* hash href */
.hashlink {
  text-decoration: none;
}

a:focus,
div:focus,
span:focus,
button:focus,
input:focus {
  box-shadow: 0 0 0 3px var(--bg-50);
  outline: none;
}

.muted {
  color: var(--bg-50);
}

/* stylelint-disable-next-line */
.rangeSlider .rangeHandle {
  border-radius: 50%;
}

li {
  margin: 0.5em 0;
}

.info {
  --card-bg: var(--info-bg);
  --card-color: var(--info-contrast);
}

.danger {
  --card-bg: var(--danger-bg);
  --card-color: var(--danger-contrast);
}

.superdanger {
  --card-bg: var(--superdanger-bg);
  --card-color: var(--superdanger-contrast);
}
